<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Rails shop</title>
    <meta name="description" content="Rails shop." />
    <%= stylesheet_link_tag 'default.css' %>
</head>
<body>
    <%= image_tag('logo.png') %>
    <div id="containerbody">
      <%= yield %>
    </div>
</body>
</html>
